<div class="main-container">
  <form class="login-container" [formGroup]="form">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Your email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Your email" type="password" formControlName="password">
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="login()">Register</button>
  </form>
</div>