<div class="main-container">
    <form class="login-container" [formGroup]="formPeliculas">
        <mat-form-field>
            <mat-label>Movie name</mat-label>
            <input matInput placeholder="Movie name" formControlName="name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Movie producer</mat-label>
            <input matInput placeholder="Movie producer" formControlName="producer">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Movie Category</mat-label>
            <select matNativeControl required formControlName="category">
                <option value="action">Action</option>
                <option value="comedy">Comedy</option>
                <option value="drama">Drama</option>
                <option value="fantasy">Fantasy</option>
                <option value="horror">Horror</option>
                <option value="mystery">Mystery</option>
                <option value="romance">Romance</option>
                <option value="thriller">Thriller</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Release date</mat-label>
            <input matInput placeholder="Year" type="date" formControlName="releaseDate">
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="formPeliculas.invalid" (click)="save()">Save</button>
    </form>
</div>